.carousel-inner{

}

p{background-color: #575656;
color: #ffffff;
padding-bottom: 10px;
padding-top: 10px;}

h2{background-color: #575656;
color: #ffffff;
padding-bottom: 20px;
padding-top: 20px;}

h1{background-color: #2a1709;
color: #ffffff;
padding-bottom: 10px;
padding-top: 10px;}
.form-signin
{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

  